*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(231deg,rgba(22,6,40,1) 0%, rgba(52,28,79,1) 50%, rgba(88,7,27) 100% );
    color: white;
    font-family: "Montserrat", sans-serif;
}

.container{
    width: 90%;
    max-width: 450px;
}

h1{
    opacity: 0.75;
    letter-spacing: 1px;
    line-height: 1.2;
}

.display-container{
    position: relative;
    background-color: rgb(65, 5, 65);
    border-radius: 1rem;
    border-bottom: 0.35rem solid rgb(209, 18, 209);
    margin: 1rem 0;
    padding-top: 0.35rem;

}

.display{
    background-color: transparent;
    width: 100%;
    padding: 1.15rem 1rem;
    color: rgb(219, 219, 24);
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 1px;
    padding-right: 3.25rem;
    font-weight: 600;
    border: none;
}


.display::placeholder{
    position: absolute;
    top: 30%;
    left: 1.5rem;
    font-size: 1.5rem;
    line-height: 30px;
    color: rgb(219, 219, 24);
}

.display-container button{
    position: absolute;
    top: 35%;
    right: 1.5rem;
}

.input-container{
    width: 100%;
    background-color: rgb(65, 5, 65);
    border-radius: 1rem;
    padding: 2rem;
    border-bottom: 0.35rem solid rgb(209, 18, 209);

}

.length-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.length-container p:nth-child(1){
    font-size: 1.5rem;

}
.length-container p:nth-child(2){
    color: yellow;
    font-size: 1.5rem;
}


.slider{
    appearance: none;
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
    background-image: linear-gradient(rgb(220, 54, 220),rgb(187, 13, 187));
    background-color: rgb(43, 18, 43);
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    height: 0.75rem;
    background-repeat: no-repeat;
    border: none;
    outline: none;
}

.slider::-webkit-slider-thumb{
    position: relative;
    z-index:1;
    appearance: none;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 0px yellow;
    background-color: yellow;
    cursor: pointer;
    margin-top: -3px;
    transition: all 100ms ease-in;
}

.slider:focus{
    outline: 3px solid yellow;
}
.slider::-webkit-slider-thumb:hover{

    outline: 2px solid yellow;
    background-color: rgb(32, 27, 32);
    box-shadow: 0px 0px 25px 5px rgba(255,229,61,0.80);

}

.strength-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.75rem;
    margin-bottom: 2rem;

}

.strength-container p{
    font-size: 1.5rem;

}
.indicator{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.generateButton{
    width: 100%;
    padding: 1rem 0;
    background-color: rgb(234, 20, 202);
    border-bottom: 0.35rem solid yellow;
    border-radius: 1rem;
    color: yellow;
    font-size: 1rem;
}

.cheak input{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid cyan;
    border-radius: 0.35rem;
    cursor: pointer;
    position: relative;
}

.cheak input:checked{
    background-color: cyan;
}

.cheak input:checked::before{
    content: "✔";
    position: absolute;
    font-size: 1.05rem;
    font-weight: 500;
    left: 15%;
    top: -3.5px;
}

.copyBtn{
    background-color: transparent;
    border: none;
    outline: none;
}

.tooltip{
    background-color: rgb(205, 29, 205);
    position: absolute;
    color: yellow;
    font-size: 1.25rem;
    top: -35px;
    left: -25px;
    padding: 5px 10px;
    border-radius: 1rem;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom;
    transition: all 250ms ease-in-out;
}

.tooltip.active{
    opacity: 1;
    transform: scale(1);
}